<% if is_logged_in? %>


    <div class="content">
             
        <% if flash[:notice] %>
            <div class="flash" style="color:green;"> 
                <%= flash[:notice] %>
            </div>
        <% end %>
        
        <div class="journalshow-table">
            <div class="journalshow-table-row">
                <div class="journalshow-table-col1">
                    
                    Created at: <%= @journalentry.created_at.localtime.strftime("%b %d, %Y %I:%M %p") %>
                
                </div>

                <div class="journalshow-table-col2"> 
                
                    <% if @journalentry.created_at != @journalentry.updated_at %>
                        Updated at: <%= @journalentry.updated_at.localtime.strftime("%b %d, %Y %I:%M %p") %>
                
                    <% else %>

                    <% end %>
                
                </div>

            </div>

            <div class="journalshow-table-row">

                What is on my heart... <br>
                <%= @journalentry.heart %><br><br>

            </div>
        
            <div class="journalshow-table-row">

                Lord, teach me to... <br>
                <%= @journalentry.teachme %><br><br>

            </div>

            <div class="journalshow-table-row">

                Prayers  <br>
                <%= @journalentry.prayer %><br><br>

            </div>

            <div class="journalshow-table-row">

                Answers to prayers  <br>
                <%= @journalentry.answer %><br><br>

            </div>

            <div class="journalshow-table-row">

                I am thankful for... <br>
                <%= @journalentry.thankful %><br><br>

            </div>

    </div>

<% else %>
      <h1> You must be logged in to make journal entries </h1>
<% end %>